#totaldimension{
    width: 400px;
    padding: 20px;
    margin: 20px;
    border: 2px solid #EEE;
}

#mybox{
    width:600px;
    padding:30px ;
    border:10px outset rgb(95, 0, 107);
    margin:80px;
    background-color: rgb(192, 133, 133); 
    

}